:root {
  /* used for sub text */
  --main-color: #e2b714;
  /* used for bg  */
  --bg-color: #323437;
  /* used for main text */
  --sub-color: #646669;
  /* used for not-active buttons */
  --sub-alt-color: #2c2e31;
  /* maybe use for valid forms  */
  --text-color: #d1d0c5;
  /* maybe use for invalid forms  */
  --error-color: #ca4754;
}

* {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  grid-row-gap: 0.5rem;
  scrollbar-color: var(--sub-color) transparent;
  font-family: Roboto Mono, Vazirmatn, monospace;
  font-size: 15px;
}

body {
  width: 275px;
  height: 250px;
}

button {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

h1,
h2,
label {
  color: var(--sub-color);
}

h1 {
  font-size: 25px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

label {
  margin-right: 0.25rem;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--main-color);
  }
}

progress {
  appearance: none;
  width: 100%;
  height: 100%;
  background: none;

  /* TODO update for Chrome */
  &::-moz-progress-bar {
    background-color: var(--main-color);
  }
}

input {
  appearance: none;
  background-color: var(--sub-alt-color);
  padding: 0.5rem;
  outline: none;
  border: none;

  &:focus,
  :active {
    outline: 2px solid var(--text-color);
  }

  &:invalid {
    background-color: var(--sub-alt-color);
    outline: 2px solid var(--error-color);
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }

  /* TODO use for Chrome */
  /* &::-webkit-outer-spin-button, */
  /* &::-webkit-inner-spin-button { */
  /*   -webkit-appearance: none; */
  /*   margin: 0; */
  /* } */
}

::selection {
  background-color: var(--main-color);
  color: var(--sub-alt-color);
}

::placeholder {
  color: var(--sub-color);
}

#progressBarContainer {
  background-color: var(--sub-alt-color);
  height: 1.75rem;
}

#notifications {
  display: grid;
  grid-auto-rows: repeat(4, 1fr);
}

#dailyGoalsForm {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  :nth-child(n) {
    justify-self: center;
  }
  .dailyGoalInput {
    width: 3rem;
  }
  #saveDailyGoalsInput {
    width: 80%;
  }
}

#popupToggleCommandContainer {
  background-color: var(--sub-alt-color);
  display: flex;
  height: 1.75rem;
  align-items: center;
  justify-content: space-evenly;

  :nth-child(n) {
    background: none;
  }
}

.hoverable {
  background-color: var(--sub-alt-color);
  color: var(--text-color);

  &:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }
}

.notificationFrequencyButton {
  height: 1.75rem;
}

.notificationFrequencyButton[data-checked="true"] {
  background-color: var(--main-color);
  color: var(--bg-color);
}
