:root {
  font-family: "Roboto";
  /* used for sub text */
  --main-color: #e2b714;
  /* used for bg  */
  --bg-color: #323437;
  /* used for main text */
  --sub-color: #646669;
  /* maybe use for valid forms  */
  --text-color: #d1d0c5;
  /* maybe use for invalid forms  */
  --error-color: #ca4754;
}

* {
  background-color: var(--bg-color);
  color: var(--sub-color);
}

body {
  width: 300px;
  height: 200px;
}

#streaks {
  width: 100%;
  display: flex;
  flex-direction: col;
  justify-content: space-evenly;
}

.streak {
  display: flex;
  flex-direction: col;
  justify-content: space-evenly;
}

#dayInputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.5rem;
}

#inputZone:hover {
  border: 2px solid red;
}

#inputZone:hover {
  border: 2px solid red;
}

input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

label {
  margin-right: 0.25rem;
}

img {
  height: 1rem;
  width: 1rem;
}

button:hover {
  cursor: pointer;
}
